.background{
  background-color: color: 	#C0C0C0;
}
#perf {
  margin-top: 5px;
  line-height: 1.4em;
  font-size: 15px;
}

.words{
  color: white;
  font-family: sans-serif;
  margin-top: 5px;
  line-height: 1.4em;
  text-align: center;
}

.grid-item{
  display: grid;
  box-sizing: border-box;
  grid-gap: 5px;
  color: white;
  font-weight: 300;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
