.logo {
  width:130px;
  display:block;
  margin:15px;
}

#navbar {
  background: gray;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0.5%;
}

#navbar img {
  margin-bottom: 1.3%;
  width: 12%;
}
